{{!< default}}

<main>
    <div class="outer">
        <div class="inner">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>

    {{pagination}}
</main>