{{!< default}}

{{#post}}

    <main class="outer">
        <article class="inner">
            <header>
                <h1>{{title}}</h1>
            </header>

            {{content}}
        </article>
    </main>

{{/post}}