/* -------- 1. Set Global Variables -------- */
:root {
    /* Fonts */
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
}

/* -------- 2. Set Global Styles -------- */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
}

/* Set image styles */
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-sans);
}
