/* -------- 0. Variables -------- */
:root {
    /* Fonts */
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --header-spacing: 2rem;
}

/* -------- 1. Style Helpers -------- */

.outer {
    position: relative;
    padding: 0 max(4vmin, 20px);
}

.inner {
    margin-inline: auto;
    max-width: 1200px;
    width: 100%;
}

/* -------- 2. Specific Styles -------- */

/* Style the header title (we know it is a link </a>) */
.gh-head-title {
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.gh-head-left {
    display: flex;
    flex-direction: row;
    gap: var(--header-spacing);
}

.gh-head-right {
    display: flex;
    flex-direction: row;
    gap: var(--header-spacing);
}

/* nav is a premade class when using {{navigation}} */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--header-spacing);
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    margin: 0;
    padding: 0;
}

/* the element nav is only used to encapsulate the navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 1rem !important;
}
