/* -------- 1. Set Element Styles -------- */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
}

/* Set image styles */
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}

/* -------- 2. Style Helpers -------- */

.outer {
    position: relative;
    padding: 0 max(4vmin, 20px);
}

.inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/* -------- 3. Specific Styles -------- */

/* Style the header title (we know it is a link </a>) */
.gh-head-title {
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -0.02em;
}
